.container {
    flex-direction: column;

    @include flexCenter-style();
    @include backgroundAndColor-style(var(--light-green), var(--dark-orange));
}

.container_icons {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.container_icon {
    width: 2rem;
}

.icon {
    background-color: var(--light-green);
    border-radius: 50%;
    width: 100%;
    box-shadow: var(--dark-green) 0px 5px 15px;
}

.copyright {
    background-color: var(--dark-green);
    justify-content: center;
    padding: 1rem;
    width: 100%;

    @include flexCenter-style();

}