@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #FEFAE0;
  --light-green: #606C38;
  --dark-green: #283618;
  --light-orange: #DDA15E;
  --dark-orange: #BC6C25;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}