.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 1rem 0.5rem;
}

.input_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container_button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1rem;
}

.container_story {
    margin: 1rem;
    line-height: 1.5rem;
    color: var(--dark-green);

    h2 {
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0.5rem 0;
    }
}

.container_Voice {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}