.button {
    background-color: var(--dark-green);
    border: none;
    border-radius: 0.5rem;
    color: var(--light-orange);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
        background-color: var(--dark-orange);
        color: var(--primary-color);
    }
}