.button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.57rem 1rem;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
        background-color: var(--dark-orange);
        color: var(--primary-color);
    }

    @include backgroundAndColor-style(var(--dark-green), var(--light-orange));

    &:disabled {
        opacity: 0.5;

        &:hover {
            @include backgroundAndColor-style(var(--dark-green), var(--light-orange));
        }
    }

}