.container {
    background-color: var(--primary-color);
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 5rem;
    width: 100%;
    box-shadow: var(--light-green) 1.95px 1.95px 2.6px;
}